<!DOCTYPE html>
<html ng-app="firstApp">
<head>
	<title>{{appName}}</title>
	<!-- Stylesheets -->

	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/main.css">


	<!-- Vendor Scripts -->
	<script src="vendor/jQuery/dist/jquery.min.js"></script>
	<script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   
    <script src="https://maps.googleapis.com/maps/api/js?key={{APIKey}}&libraries=places"></script>

     <script src="vendor/handlebars/handlebars.min.js"></script>
   
    <!-- Verification for Google -->

    <meta name="google-site-verification" content={{verification}}/>
  
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

	<!--  Application Scripts-->
	
	<script type="text/javascript" src="static/scripts/main.js"></script>

</head>
<body ng-controller="ridePrice">
	<div class="title">
	<h1>{{salutation}}</h1>
	</div>	
	<div class="main">
		<div class="ridemap" id="map"></div>
	</div>
	<div id="warnings-panel"></div>
	<div class="findRide">
		<form ng-model="address" class="findPrice">
			<label for="orin">Origin Address</label>
			<input ng-click="showing = true" ng-model="address.origin" class="originAddress" id="orin" type="text" name="origin" placeholder="Enter Origin Address"/>
			<label for="destin">Destination Address</label>
			<input ng-click="showing = true" ng-model="address.destin" class="destAddress" id="destin" type="text" name="destination" placeholder="Enter Destination Address"/>
			<button  class="btn" type="submit" name="submit">Find Rides</button>
		</form>
	</div>
	<div class="table-container">
		<h1 ng-show="showing">Origin Address: <span> \{{address.origin}} </span></h1>
		<h1 ng-show="showing">Destination Address: <span> \{{address.destin}}</span></h1>
		<table class="mainT">
			<thead class="theader">
				<tr class="theadRow">
					<th>Ride Type</th>
					<th>Surge</th>
					<th>Distance</th>
					<th>Duration</th>
					<th>High Estimate</th>
					<th>Minimun</th>
					<th>Estimate</th>
				</tr>
			</thead>
			<tbody class="tbody" id="tbody-rides">
			</tbody>
				<script id="rides-template" type="text/x-handlebars-template"> 
					<tr class="tRow">
						<td>\{{capitalize this.display_name}}</td>
						<td>\{{surge_multiplier}}x</td>
						<td>\{{distance}} miles</td>
						<td>\{{toMinutes this.duration}}</td>
						<td>$\{{high_estimate}}.00</td>
						<td>$\{{minimum}}.00</td>
						<td>\{{estimate}}</td>
					</tr></br>
				</script>
		</table>
	</div>

<script type="text/javascript" src="static/scripts/app.js"></script>
</body>
<footer>
</footer>
</html>
